﻿
    <nav class="navbar navbar-static-top">
        <div class="navbar-left">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/contacts/">Contacts</a></li>
            </ul>
        </div>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input ng-model="search"  ng-keydown="$event.keyCode === 13 && action(search)" type="text" class="form-control" placeholder="Search">
            </div>
            <a href="#/search/{{search}}/"  class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
        </form>
    </nav>
