﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Emails</title>
</head>
<body>
    <div class="header" ng-include="'/App/views/layout/header.html'"></div>
    <div class="body-content">
        <h2><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{name}}'s emails</h2>
        <p>
            <a href="#/emails/create/{{idContact}}/{{name}}/{{query}}"class="btn btn-primary">Add new email <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </p>
        <table class="table">
            <tr>
                <th>
                    <h4>Emails</h4>
                </th>
                <th><h4>Primary</h4></th>
                <th></th>
            </tr>

            <tr ng-repeat="email in emails">
                <td>
                    <a href="mailto:{{email.Name}}">{{email.Name}}</a>
                </td>
                <td><input type="checkbox" ng-change="change(email.IdEmail)" ng-model="primary" ng-init="primary=email.IsPrimary" /></td>
                <td>
                    <a ng-click="delete(email.IdEmail)" class="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </td>
            </tr>

        </table>

        <div>
            <a href="#/contacts/edit/{{idContact}}/{{query}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to contact</a>
        </div>

    </div>
</body>
</html>