﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="myApp">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://code.angularjs.org/1.3.15/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.15/angular-route.min.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/controllers/contactsController.js"></script>
    <script src="~/App/services/contactsService.js"></script>
    <script src="~/App/controllers/emailsController.js"></script>
    <script src="~/App/services/emailsService.js"></script>
    <script src="~/App/controllers/searchController.js"></script>
    <script src="~/App/services/searchService.js"></script>
    <script src="~/App/controllers/phonesController.js"></script>
    <script src="~/App/services/phonesService.js"></script>
    <script src="~/App/controllers/tagsController.js"></script>
    <script src="~/App/services/tagsService.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
