﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add new tag</title>
</head>
<body>
    <div class="header" ng-include="'/App/views/layout/header.html'"></div>
    <div class="body-content">
        <h2>Add new tags for {{name}}</h2>
        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2">Tags</label>
                <div class="col-md-10">
                    <input ng-model="tag" class="form-control text-box single-line" type="text" placeholder="e.g. tag1, tag2"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a ng-click="addTag(idContact, tag);" class="btn btn-info">Add</a>
                </div>
            </div>
        </div>

        <div>
            <a href="#/tags/{{idContact}}/{{name}}/{{query}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to tags</a>
        </div>
        <div>
            <a href="#/contacts/edit/{{idContact}}/{{query}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to contact</a>
        </div>

    </div>
</body>
</html>