﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tags</title>
</head>
<body>
    <div class="header" ng-include="'/App/views/layout/header.html'"></div>
    <div class="body-content">
        <h2><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {{name}}'s tags</h2>
        <p>
            <a href="#/tags/create/{{idContact}}/{{name}}/{{query}}" class="btn btn-primary">Add new tags <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </p>
        <table class="table">
            <tr>
                <th>
                    <h4>Tags</h4>
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="tag in tags">
                <td>
                    {{tag.Name}}
                </td>
                <td>
                    <a ng-click="delete(tag.IdTag, idContact)" class="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </td>
            </tr>

        </table>

        <div>
            <a href="#/contacts/edit/{{idContact}}/{{query}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to contact</a>
        </div>

    </div>
</body>
</html>