﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add new phone</title>
</head>
<body>
    <div class="header" ng-include="'/App/views/layout/header.html'"></div>
    <div class="body-content">
        <h2>Add new phone for {{name}}</h2>
        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2">Phone</label>
                <div class="col-md-10">
                    <input ng-model="phone" class="form-control text-box single-line" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Primary phone?</label>
                <div class="col-md-10">
                    <input ng-model="primary" type="checkbox" ng-init="primary=false" />
                </div>
            </div> 

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a ng-click="addPhone(idContact, phone, primary);" class="btn btn-info">Add</a>
                </div>
            </div>
        </div>

        <div>
            <a href="#/phones/{{idContact}}/{{name}}/{{query}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to phones</a>
        </div>
        <div>
            <a href="#/contacts/edit/{{idContact}}/{{query}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to contact</a>
        </div>

    </div>
</body>
</html>