﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Phones</title>
</head>
<body>
    <div class="header" ng-include="'/App/views/layout/header.html'"></div>
    <div class="body-content">
        <h2><span class="glyphicon glyphicon-earphone" aria-hidden="true" style="color:green;"></span> {{name}}'s phones</h2>
        <p>
            <a href="#/phones/create/{{idContact}}/{{name}}/{{query}}" class="btn btn-primary">Add new phone <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </p>
        <table class="table">
            <tr>
                <th>
                    <h4>Phones</h4>
                </th>
                <th>
                    <h4>Primary</h4>
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="phone in phones">
                <td>
                    {{phone.Number}}
                </td>
                <td><input type="checkbox" ng-change="change(phone.IdPhone)" ng-model="primary" ng-init="primary=phone.IsPrimary"/></td>
                <td>
                    <a ng-click="delete(phone.IdPhone)" class="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </td>
            </tr>

        </table>

        <div>
            <a href="#/contacts/edit/{{idContact}}/{{query}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to contact</a>
        </div>

    </div>
</body>
</html>