﻿.odd {
    background-color: #ffffff;
}

.even {
    background-color: #c2d0e5;
}

.delete{
    color: red;
}

.table-header, .navbar{
    background-color: #1b2940;
    color: white;
}

.tablerow:hover {
    background-color:  black;
    color: white;
}

.glyphicon-plus, .glyphicon-earphone {
    color: greenyellow;
}

.glyphicon-envelope{
    color: #ffc300;
}

.list {
    font-weight: bold;
}

.glyphicon-edit {
    color: green;
}

.nav li a {
    color: white; 
    font-weight: bold;
}

.nav li a:hover {
    color:black;
    background-color: red;
}

.profilepic{
    width: 200px;
    height: 200px;
}

