﻿<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>Contacts</title>
</head>
<body>
    <div class="header" ng-include="'/App/views/layout/header.html'"></div>

    <div class="body-content">
        <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contacts</h2>
        <p>
            <a ng-href="#/contacts/create/{{query}}" class="btn btn-primary">Create new <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </p>
        <table class="table">
            <tr class="table-header">
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
                <th>Email <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></th>
                <th>Phone number <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></th>
                <th></th>
            </tr>
            <tr ng-repeat="contact in contacts" ng-class-odd="'odd'" ng-class-even="'even'" class="tablerow">
                <td>{{contact.Name}}</td>
                <td>{{contact.Surname}}</td>
                <td>{{contact.Address}}</td>
                <td><a href="mailto:{{contact.Email}}">{{contact.Email}}</a></td>
                <td>{{contact.Phone}}</td>
                <td>
                    <a href="#/contacts/edit/{{contact.IdContact}}/{{query}}" title="Edit" data-toggle="tooltip" data-placement="top" tooltip><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a> |
                    <a href="#/contacts/details/{{contact.IdContact}}/{{query}}" title="Details" data-toggle="tooltip" data-placement="top" tooltip><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a> |
                    <a class="delete" href="#/contacts/delete/{{contact.IdContact}}/{{query}}" title="Delete" data-toggle="tooltip" data-placement="top" tooltip><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </td>
            </tr>
        </table>
    </div>
</body>
<!--</html>-->
