﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create new contact</title>
</head>
<body>
    <div class="header" ng-include="'/App/views/layout/header.html'"></div>
    <div class="body-content">
        <h2><span class="glyphicon glyphicon-plus" aria-hidden="true" style="color:green"></span> Create new contact</h2>
        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2">First name</label>
                <div class="col-md-10">
                    <input ng-model="name" class="form-control text-box single-line" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Last name</label>
                <div class="col-md-10">
                    <input ng-model="surname" class="form-control text-box single-line" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Address</label>
                <div class="col-md-10">
                    <input ng-model="address" class="form-control text-box single-line" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                <div class="col-md-10">
                    <input ng-model="email" class="form-control text-box single-line" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Phone number</label>
                <div class="col-md-10">
                    <input ng-model="phone" class="form-control text-box single-line" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Tags</label>
                <div class="col-md-10">
                    <input ng-model="tags" class="form-control text-box single-line" type="text" placeholder="e.g. tag1, tag2" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a ng-click="create(name, surname, address, email, phone, tags);" class="btn btn-primary">Create</a>
                </div>
            </div>
        </div>
        
        <div>
            <a ng-href="#{{back}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to List</a>
        </div>

    </div>
</body>
</html>