﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Delete contact</title>
</head>
<body>
    <div class="header" ng-include="'/App/views/layout/header.html'"></div>
    <div class="body-content">
        <h2><span class="glyphicon glyphicon-trash delete" aria-hidden="true"></span> Delete</h2>

        <h3>Are you sure you want to delete this contact?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>First name</dt>
                <dd>{{details.Name}}</dd>

                <dt>Last Name</dt>
                <dd>{{details.Surname}}</dd>

                <dt>Address</dt>
                <dd>{{details.Address}}</dd>

                <dt>Emails</dt>
                <dd ng-repeat="email in details.Emails">{{email}}</dd>

                <dt>Phones</dt>
                <dd ng-repeat="phone in details.Phones">{{phone}}</dd>

                <dt>Tags</dt>
                <dd ng-repeat="tag in details.Tags">{{tag}}</dd>
            </dl>
            <a ng-click="delete(details.IdContact, back)" class="btn btn-danger">Delete</a>
            <a class="btn btn-default" ng-href="#{{back}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to List</a>
        </div>
    </div>
</body>
</html>