﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contact details</title>
</head>
<body>
    <div class="header" ng-include="'/App/views/layout/header.html'"></div>
    <div class="body-content">
        <h2><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Details</h2>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <dl class="dl-horizontal">

                        <dt>First name</dt>
                        <dd>{{details.Name}}</dd>

                        <dt>Last Name</dt>
                        <dd>{{details.Surname}}</dd>

                        <dt>Address</dt>
                        <dd>{{details.Address}}</dd>
                    </dl>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <h5 class="list"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Emails</h5>
                                <ul>
                                    <li ng-repeat="email in details.Emails">{{email}}</li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h5 class="list"><span class="glyphicon glyphicon-earphone" aria-hidden="true" style="color:green;"></span> Phones</h5>
                                <ul>
                                    <li ng-repeat="phone in details.Phones">{{phone}}</li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <h5 class="list"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags</h5>
                                <ul>
                                    <li ng-repeat="tag in details.Tags">{{tag}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img class="profilepic" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-contact-128.png" />
                </div>
            </div>
        </div>
        <br />
        <p>
            <a ng-href="#{{back}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to List</a>
            <a href="#/contacts/edit/{{details.IdContact}}/{{query}}" class="btn btn-info">Edit</a>
        </p>
    </div>
</body>
</html>