﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edit contact</title>
</head>
<body>
    <div class="header" ng-include="'/App/views/layout/header.html'"></div>
    <div class="body-content">
        <h2><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit contact</h2>

            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                <label class="control-label col-md-2">First name</label>
                <div class="col-md-10">
                    <input ng-model="details.Name" class="form-control text-box single-line" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Last name</label>
                <div class="col-md-10">
                    <input ng-model="details.Surname" class="form-control text-box single-line" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Address</label>
                <div class="col-md-10">
                    <input ng-model="details.Address" class="form-control text-box single-line" type="text" />
                </div>
            </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a ng-click="edit(details.IdContact, details.Name, details.Surname, details.Address);" class="btn btn-info">Save</a> 
                    </div>
                </div>
            </div>
        


        <dl class="dl-horizontal">
            <dt>
                <a href="#/emails/{{details.IdContact}}/{{details.Name}}/{{query}}">Emails</a>
                
            </dt>
            <dd ng-repeat="email in details.Emails">{{email}}</dd>

            <dt>
                <a href="#/phones/{{details.IdContact}}/{{details.Name}}/{{query}}">Phones</a>
                
            </dt>
            <dd ng-repeat="phone in details.Phones">{{phone}}</dd>

            <dt>
                <a href="#/tags/{{details.IdContact}}/{{details.Name}}/{{query}}">Tags</a>
                
            </dt>
            <dd ng-repeat="tag in details.Tags">{{tag}}</dd>
        </dl>

        <a ng-href="#{{back}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to List</a>
    </div>
</body>
</html>